<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> <h5 class="tittle">Add Product</h5> </div>
                <div class=" card-body">
                    <form [formGroup]="productAddFormGroup">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="productName">Product Name</label>
                            <input type="text" id="productName" 
                            formControlName="productName" class="form-control"/>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="productAddFormGroup">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="categoryId">Category Id</label>
                            <input type="number" id="categoryId" 
                            formControlName="categoryId" class="form-control"/>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="productAddFormGroup">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="quantityPerUnit">Quantity Per Unit</label>
                            <input type="text" id="quantityPerUnit" 
                            formControlName="quantityPerUnit" class="form-control"/>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="productAddFormGroup">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="unitsInStock">Units in Stock</label>
                            <input type="number" id="unitsInStock" 
                            formControlName="unitsInStock" class="form-control"/>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="productAddFormGroup">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="unitPrice">Unit Price</label>
                            <input type="number" id="unitPrice" 
                            formControlName="unitPrice" class="form-control"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class=" btn btn-fill btn-primary" (click)="addProduct()">Add</button>
                </div>
        </div>
    </div>
</div>
